<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout.html :: headerfiles(title='Modifica Ingrediente')"> </head>
<body>
	<header th:replace="fragments/layout.html :: navMenu"></header>

	<section class="generic_section layout_padding">
		<div class="container">
			<div class="heading_container">
				<h2>Modifica Ingrediente</h2>
			</div>
			<br>


			<div class="form_container">
				<form th:action="@{/admin/ingrediente/modificaIngrediente/} + ${idPiatto} +'/'+ *{id}" method="post" th:object="${ingrediente}">
					<div th:if="${#fields.hasGlobalErrors()}" class="alert alert-danger" role="alert">
						<h4 align="center" th:each="err : ${#fields.globalErrors()}" th:text="'Errore: ' + ${err}">...</h4>
					</div>
					<div>Nome:<br><input type="text" class="form-control" placeholder="Nome" th:field="*{nome}"></div>
					<div th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}" class="alert alert-danger" role="alert"></div>

					<div>Origine:<br><input type="text" class="form-control" placeholder="Origine" th:field="*{origine}"></div>
					<div th:if="${#fields.hasErrors('origine')}" th:errors="*{origine}" class="alert alert-danger" role="alert"></div>
					
					<div>Descrizione:<br><input type="text" class="form-control" placeholder="descrizione" th:field="*{descrizione}"></div>
					<div th:if="${#fields.hasErrors('descrizione')}" th:errors="*{descrizione}" class="alert alert-danger" role="alert"></div>

					<div class="btn_box"><button type="submit">Modifica</button></div>
				</form>
			</div>
			<br><br>
			<h3>Modifica Immagine Profilo Ingrediente</h3><br>
			<div class="form_container">
				<form th:action="@{/admin/ingrediente/changeImg/} + ${idPiatto} +'/' + ${ingrediente.id}" method="post" enctype="multipart/form-data">
					<div><input type="file" class="form-control-file" name="file" required></div>

					<div class="preview-img">
						<h5><em>Immagine attuale:</em></h5>
						<img th:if="${ingrediente.img == 'profili'}" src="/images/ingrediente.png" alt="Profile ingrediente">
						<img th:unless ="${ingrediente.img == 'profili'}" th:src="'/images/ingrediente/profili/' + ${ingrediente.img}" alt="Profile ingrediente">
					</div>

					<div class="btn_box"><button type="submit">Cambia Immagine</button></div>
				</form>
			</div>
			<br><br>
		<div th:replace="fragments/layout.html :: backButton(back='/admin/piatto/modificaPiatto/'+${idPiatto}, text1='Modifica Piatto', back2='/admin/buffet', text2='Elenco Buffets')"></div>
		</div> <!-- end container -->
	</section>

	<footer th:replace="fragments/layout.html :: fondo"></footer>
	<div th:replace="fragments/layout.html :: jsFiles"></div>
</body>
</html>