<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout.html :: headerfiles(title='Modifica Buffet')"> </head>
<body>
	<header th:replace="fragments/layout.html :: navMenu"></header>

	<h2>Modifica Piatto for Buffet <strong th:text="${piatto.buffet.nome}"></strong></h2>
	<a th:href="@{/admin/ingrediente/aggiungiIngrediente/} + ${piatto.id}">Aggiungi Ingrediente</a>
	<br>

	<form th:action="@{/admin/piatto/modificaPiatto/} + *{buffet.id} +'/'+ *{id}" method="post" th:object="${piatto}">
		<div th:if="${#fields.hasGlobalErrors()}">
			<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
		</div>
		<div>Nome:<br><input type="text" th:field="*{nome}"></div>
		<div th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></div>
		<br>
		<div>Descrizione:<br><input type="text" th:field="*{descrizione}"></div>
		<div th:if="${#fields.hasErrors('descrizione')}" th:errors="*{descrizione}"></div>
		<br>

		<ul>
			<li th:each="ingrediente : ${ingredienti}">
				<span th:text="${ingrediente.nome}">Nome Ingrediente</span>
				<a th:href="@{/admin/ingrediente/modificaIngrediente/} + ${piatto.id} + '/' + ${ingrediente.id}"> Modifica</a>
				<a th:href="@{/admin/ingrediente/delete/} + ${piatto.id} + '/' + ${ingrediente.id}"> Delete</a>
			</li>
		</ul>

		<div><button type="submit">Modifica</button></div>
	</form>
	<br>
	
	<footer th:replace="fragments/layout.html :: fondo(back='/admin/buffet/modificaBuffet/' + ${piatto.buffet.id})"></footer>
</body>
</html>