<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout.html :: headerfiles(title='Modifica Piatto')"> </head>
<body>
	<header th:replace="fragments/layout.html :: navMenu"></header>

	<section class="generic_section layout_padding">
		<div class="container">
			<div class="heading_container">
				<h2>Modifica il Piatto "<strong th:text="${piatto.nome}"></strong>" del Buffet <strong th:text="${piatto.buffet.nome}"></strong></h2>
			</div>

			<a class="btn btn-success btn-lg" 
			   th:href="@{/admin/ingrediente/aggiungiIngrediente/} + ${piatto.id}">Aggiungi Nuovo Ingrediente
			</a>
			<br><br>


			<div class="form_container">
				<form th:action="@{/admin/piatto/modificaPiatto/} + *{buffet.id} +'/'+ *{id}" method="post" th:object="${piatto}">
					<div th:if="${#fields.hasGlobalErrors()}" class="alert alert-danger" role="alert">
						<h4 align="center" th:each="err : ${#fields.globalErrors()}" th:text="'Errore: ' + ${err}">...</h4>
					</div>
					<div>Nome:<br><input type="text" class="form-control" placeholder="Nome" th:field="*{nome}"></div>
					<div th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}" class="alert alert-danger" role="alert"></div>
					
					<div>Descrizione:<br><input type="text" class="form-control" placeholder="descrizione" th:field="*{descrizione}"></div>
					<div th:if="${#fields.hasErrors('descrizione')}" th:errors="*{descrizione}" class="alert alert-danger" role="alert"></div>

					<div class="btn_box"><button type="submit">Modifica</button></div>
				</form>
			</div>
			<br><br>
			<h3>Modifica Immagine Profilo Piatto</h3><br>
			<div class="form_container">
				<form th:action="@{/admin/piatto/changeImg/} + ${piatto.id}" method="post" enctype="multipart/form-data">
					<div><input type="file" class="form-control-file" name="file" required></div>

					<div class="preview-img">
						<h5><em>Immagine attuale:</em></h5>
						<img th:if="${piatto.img == 'profili'}" src="/images/piatto.png" alt="Profile Piatto">
						<img th:unless ="${piatto.img == 'profili'}" th:src="'/images/piatto/profili/' + ${piatto.img}" alt="Profile Piatto">
					</div>

					<div class="btn_box"><button type="submit">Cambia Immagine</button></div>
				</form>
			</div>
			<br><br>
			<h3>Elenco Ingredienti del Piatto</h3><br>
			<div class="table-responsive">
				<table class="table table-striped table-hover">
					<thead class="thead-dark">
						<tr>
							<th scope="col">#</th>
							<th scope="col">Nome</th>
							<th scope="col">Origine</th>
							<th scope="col">Descrizione</th>
							<th scope="col"></th>
							<th scope="col"></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="ingrediente : ${ingredienti}">
							<th scope="row" th:text="${ingrediente.id}">1</th>
							<th th:text="${ingrediente.nome}">Nome</th>
							<th th:text="${ingrediente.origine}">Origine</th>
							<th th:text="${ingrediente.descrizione}">Descrizione</th>
							<th><a class="btn btn-success" th:href="@{/admin/ingrediente/modificaIngrediente/} + ${piatto.id} + '/' + ${ingrediente.id}">Modifica</a></th>
							<th>
								<div th:replace="fragments/layout.html :: modalDelete(nome='ingrediente: '+${ingrediente.nome}+' del piatto: '+${piatto.nome}, link='/admin/ingrediente/delete/' + ${piatto.id} + '/' + ${ingrediente.id})"></div>
							</th>
						</tr>
					</tbody>
				</table>
			</div>
			<br>

			<div th:replace="fragments/layout.html :: backButton(back='/admin/buffet/modificaBuffet/'+${piatto.buffet.id}, text1='Modifica Buffet', back2='/admin/buffet', text2='Elenco Buffets')"></div>
		</div> <!-- end container -->
	</section>

	<footer th:replace="fragments/layout.html :: fondo"></footer>
	<div th:replace="fragments/layout.html :: jsFiles"></div>
</body>
</html>