<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout.html :: headerfiles(title='Informazioni Chef')"> </head>
<body>
	<header th:replace="fragments/layout.html :: navMenu"></header>

	<div th:object="${chef}">
		<h2 th:text="*{nome} + ' ' + *{cognome} + ' ' + *{nazionalita}">Chef</h2>

		<h3>Elenco Buffets Proposti dallo Chef</h3>
		<ul>
			<li th:each="buffet : *{buffets}">
				<a th:href="@{'/buffet/' + ${buffet.id}}" 
				   th:text="${buffet.nome} + ' ' + ${buffet.descrizione}">Buffet</a>
			</li>
		</ul>
	</div>

	<footer th:replace="fragments/layout.html :: fondo(back='/chefs')"></footer>
</body>
</html>