<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout.html :: headerfiles(title='Elenco chefs')"> </head>
<body>
	<header th:replace="fragments/layout.html :: navMenu"></header>

	<section class="boxInfo_section layout_padding">
		<div class="container">
			<div class="heading_container">
				<h2>Elenco Chefs</h2>
			</div>
			
			<div class="row grid">
				<div th:each="chef : ${chefs}" class="col-sm-6 col-lg-4 all">
					<div class="box">
						<div>

							<div th:if="${chef.img == 'profili'}" class="img-box">
								<img src="/images/chef.png" alt="">
							</div>
							<div th:unless ="${chef.img == 'profili'}" class="img-box">
								<img th:src="'/images/chef/profili/' + ${chef.img}" alt="Profile Chef">
							</div>

							<div class="detail-box">
								<strong>Nome e Cognome:</strong>
								<p th:text="${chef.nome} + ' ' + ${chef.cognome}">Nome e Cognome Chef</p>
								<strong>Nazionalita:</strong>
								<p th:text="${chef.nazionalita}">Nazionalita</p>
								<p><a th:href="@{/chef/} + ${chef.id}" class="btn btn-sm">Dettagli</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div th:replace="fragments/layout.html :: backButton(back='/', text1='Indietro', back2='no', text2=' ')"></div>
		</div> <!-- end container -->
	</section>
	
	<footer th:replace="fragments/layout.html :: fondo"></footer>
	<div th:replace="fragments/layout.html :: jsFiles"></div>
</body>
</html>