<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout.html :: headerfiles(title='Homepage')"> </head>
<body>
	<header th:replace="fragments/layout.html :: navMenu"></header>

	<h2>Homepage Catering</h2>
	<a th:href="@{/chef}">Elenco Chef</a><br>
	<a th:href="@{/buffet}">Elenco Buffet</a><br>
	<a th:href="@{/piatto}">Elenco Piatti</a><br><br><br>
	<a th:href="@{/default}">Dashboard</a><br><br>
	<a th:href="@{/login}">Login</a>
	<br>
	<a th:href="@{/register}">Register</a>

	<footer th:replace="fragments/layout.html :: fondo(back='/')"></footer>
</body>
</html>