<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout.html :: headerfiles(title='Informazioni Piatto')"> </head>
<body>
	<header th:replace="fragments/layout.html :: navMenu"></header>


	<section class="piatto-background informations-section ">
		<div class="img-profile-informations" >
			<img src="/images/profile-image-chef.png" alt="Profile Piatto">
		</div>
	</section>

	<section class="generic_section layout_padding">
		<div class="container">
			<div class="card-informations" th:object="${piatto}">
				<div>
					<strong>Nome del Piatto: </strong><span th:text="*{nome}"></span><br>
					<strong>Descrizione: </strong><span th:text="*{descrizione}"></span><br>
				</div>

			</div>


			<div class="boxInfo_section layout_padding">
				<div class="heading_container">
					<h2>Ingredienti del Piatto</h2><br>
				</div>

				<div class="row grid">
					<div th:each="ingrediente : ${ingredienti}" class="col-sm-6 col-lg-4 all">
						<div class="box">
							<div>
								<div class="img-box">
									<img src="/images/ingrediente.png" alt="">
								</div>
								<div class="detail-box">
									<strong>Nome:</strong>
									<p th:text="${ingrediente.nome}">Nome Ingrediente</p>
									<strong>Descrizione:</strong>
									<p th:text="${ingrediente.descrizione}">Descrizione</p>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
			
		</div> <!-- end container -->
	</section>
	
	<footer th:replace="fragments/layout.html :: fondo"></footer>
	<div th:replace="fragments/layout.html :: jsFiles"></div>
</body>
</html>