<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout.html :: headerfiles(title='Aggiungi Chef')"> </head>
<body>
	<header th:replace="fragments/layout.html :: navMenu"></header>

	<h2>Aggiungi Chef</h2>
	<form th:action="@{/admin/chef/aggiungiChef}" method="post" th:object="${chef}">
		 <div th:if="${#fields.hasGlobalErrors()}">
			<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
		</div>
		<div>Nome:<br><input type="text" th:field="*{nome}"></div>
		<div th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></div>
		<br>
		<div>Cognome:<br><input type="text" th:field="*{cognome}"></div>
		<div th:if="${#fields.hasErrors('cognome')}" th:errors="*{cognome}"></div>
		<br>
		<div>Nazionalita:<br><input type="text" th:field="*{nazionalita}"></div>
		<div th:if="${#fields.hasErrors('nazionalita')}" th:errors="*{nazionalita}"></div>
		<br>
		<div><button type="submit">Aggiungi</button></div>
	</form>
	<br>
	
	<footer th:replace="fragments/layout.html :: fondo(back='/admin/chef')"></footer>
</body>
</html>