<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout.html :: headerfiles(title='Modifica Chef')"> </head>
<body>
	<header th:replace="fragments/layout.html :: navMenu"></header>

	<h2>Modifica Chef</h2>
	<a th:href="@{/admin/buffet/aggiungiBuffet/} + ${chef.id}">Aggiungi Buffet</a>
	<br>

	<form th:action="@{/admin/chef/modificaChef/} + *{id}" method="post" th:object="${chef}">
		 <div th:if="${#fields.hasGlobalErrors()}">
			<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
		</div>
		<div>Nome:<br><input type="text" th:field="*{nome}"></div>
		<div th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></div>
		<br>
		<div>Cognome:<br><input type="text" th:field="*{cognome}"></div>
		<div th:if="${#fields.hasErrors('cognome')}" th:errors="*{cognome}"></div>
		<br>
		<div>Nazionalita:<br><input type="text" th:field="*{nazionalita}"></div>
		<div th:if="${#fields.hasErrors('nazionalita')}" th:errors="*{nazionalita}"></div>
		<br>

		<ul>
			<li th:each="buffet : *{buffets}">
				<span th:text="${buffet.nome}">Nome Buffet</span>
				<a th:href="@{/admin/buffet/modificaBuffet/} + ${buffet.id}"> Modifica</a>
			</li>
		</ul>

		<div><button type="submit">Modifica</button></div>
	</form>
	<br>
	
	<footer th:replace="fragments/layout.html :: fondo(back='/admin/chef')"></footer>
</body>
</html>